@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');

* {
  font-family: "M PLUS Rounded 1c", sans-serif;
}

@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fade-out {
  from { opacity: 1; }
  to { opacity: 0; }
}

body {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  min-height: 100vh;
  box-sizing: border-box;
  justify-content: space-between;
  padding-bottom: 50px;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
  justify-items: center;
  padding: 0 8px;
  max-width: 100vw;
  max-height: 80vh;
  perspective: 600px;
  opacity: 1;
  box-sizing: border-box;
}

.loading-container {
  height: 200px;
  width: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: fade-in 0.25s ease-in-out forwards;
}

.card-container.fade-out {
  animation: fade-out 0.25s ease-in-out forwards;
}

.card-container.hidden {
  opacity: 0;
  pointer-events: none;
}

.sidebar {
  box-sizing: border-box;
  margin-bottom: 10px;
  padding: 10px;
  position: relative;
  opacity: 0;
  animation: fade-in 0.25s ease-in-out forwards;
  display: flex;
  font-size: .9rem;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.sidebar p {
  line-height: 0;
}

button {
  width: 125px;
  background-color: #FFFFFF;
  border: 0;
  border-radius: .5rem;
  box-sizing: border-box;
  color: #111827;
  font-size: .875rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: .75rem 1rem;
  text-align: center;
  text-decoration: none;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  cursor: pointer;
}

button:hover {
  background-color: rgb(249, 250, 251);
}

.modal {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90vw;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 2rem;
  border: 1px solid grey;
  animation: fade-in 0.5s ease-in-out forwards;
  animation-delay: 1.5s;
}

.modal-overlay {
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  animation: fade-in 0.5s ease-in-out forwards;
  animation-delay: 1.5s;
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-exit {
  animation: fade-out 0.25s ease-in-out forwards;
}

.modal-overlay-exit {
  animation: fade-out 0.25s ease-in-out forwards;
}

@media (min-width: 500px) {
  .container {
    justify-content: start;
  }

  .card-container {
    width: 80%;
    margin: auto;
  }

  .sidebar {
    justify-content: space-around;
    font-size: 1.5rem;
  }

  .sidebar button {
    font-size: 1.5rem;
    width: 200px;
  }
}

@media (min-width: 1000px) {
  .container {
    flex-direction: row;
    height: 100vh;
    overflow: hidden;
    align-items: center;
    justify-content: space-between;
  }

  .card-container {
    grid-template-columns: repeat(6, 1fr);
    gap: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
  }

  .sidebar {
    width: 15%;
    height: 50%;
    margin: 50px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
  }

  .sidebar button {
    font-size: 1.25rem;
    width: 150px;
  }

  .modal {
    width: 400px;
  }
}
